<form>
    <div class="form-group">
        <label for="inputEmail1">Email address</label>
        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" [(ngModel)]="user.firstName" id="firstName" name="firstName" aria-describedby="firstNameHelp" placeholder="Enter first name" required minlength="4" appForbiddenName="bob" #firstName="ngModel" [ngClass]="{'class_success': (firstName.dirty || firstName.touched), 'class_error' : firstName.invalid && (firstName.dirty || firstName.touched) }">
        <small id="firstNameHelp" class="form-text text-muted">Please enter your FIRST name.</small>
    </div>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">

        <div *ngIf="firstName.errors?.['required']">
            First Name is required.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="firstName.errors?.['forbiddenName']">
            Name cannot be Bob.
        </div>

    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter last name">
        <small id="lastNameHelp" class="form-text text-muted">Please enter your LAST name.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password confirm</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="cotainer-btn-r">
        <button (click)="registerNewUser()" type="submit" class="btn btn-primary">Register</button>
    </div>
</form>