.cotainer-btn-r {
    padding-top: 5px;
}

.alert {
    color: red;
    font-weight: bold;
}

.class_success {
    background-color: lightseagreen;
    border: green;
}

.class_error {
    background-color: lightsalmon;
    border: red;
}